
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Heebo:wght@600&family=Poppins&family=Redressed&family=Rubik:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
body{
    font-family: 'Heebo', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;
    .sliding-text{
        font-family: 'Redressed', cursive;
        color: #b01724;
    }
    
    ul{
        display: flex;
        list-style: none;
        align-items: center;
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        margin-left: 5rem;
    }
}
h2{
    font-size: 5rem;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    color: maroon;
    font-size: 1.5rem;
    transform: translate(-50%,-50%)scale(5);
}
.home{
    height: 100vh;
}
.first-page{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50%;
        border-radius: 2rem;
    }
}
.firstImg {
    margin-left: -200px;
  }
.second-page{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50%;
        border-radius: 2rem;
    }
}
.square{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    position: absolute;
    top: 70%;
    left: 70%;
}
.contact-page{
    background: black;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .row{
        display: flex;
        .details-section{
            margin-right: 50px;
        }
        .contact-title{
            align-content: center;
            color: #b01724;
            font-size: 38px;
            margin: 0px 0px 50px 0px;
        }
        .form-section{
            margin-left: 50px;
            form{
                display: flex;
                flex-direction: column;
                .form-control{
                    margin: 10px;
                    padding: 10px;
                    width: 500px;
                    background: black;
                    border: 2px solid #b01724;
                    border-radius: 4px;
                }
                 :nth-child(4){
                    background: #b01724;
                    color: white;
                    border-radius: 10px;
                }
            }
        }
        
    }
}

// card section
.third-page{
    background-image: url("./images/bg3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    height: 100vh;
    .square2{
    
            width: 20rem;
            height: 20rem;
            box-shadow: 0 4px 8px -2px ;
            border-radius: 50%;
            position: absolute;
            top: 20%;
            left: -10px;
            opacity: 1;
            background-color: #f89b9e;
            background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
    }
    h1{
        margin-left: -1000px;
        margin-bottom: 50px;
        margin-top: 100px;
        font-size: 50px;
        font-family: 'Redressed', cursive;
        color: #b01724;
        transition: margin-left 2s;
        z-index: 1;
    }
    h1:hover{
       
        margin-left: -900px;
    }
    .card-section{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        .card{
        
            border: 1px solid white;
            height: 250px;
            width: 200px;
            border-radius: 20px;
            margin: 10px;
            color: #ffffff;
            font-family: 'Redressed', cursive;
            box-shadow: 0 8px 8px -4px ;
            transition: width 1.8s;
            z-index: 1;
            img{
               
                border-radius: 8px;
                margin-bottom: 10px;
                background-size: cover;
                height: 150px;
                width: 200px;
            }
        }:hover{
            width: 280px;
   
        }
    }
   
}

// footer
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;

    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h3{
            font-size: 2.1rem;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 3rem;
        }
        p{
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
            color: #cacdd2;
            font-family: 'Redressed', cursive;
        }
        .socials{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;

            li{
                margin: 0px 10px;
                padding: .1rem 0;
                a{
                    text-decoration: none;
                    color: #b01724;
                    border-radius: 30%;
                   
    
                    i{
                        margin-top: 10px;
                        font-size: 1.5rem;
                        width: 20px;
                        transition: color .8s ease;
                    }
                }
                a:hover i{
                    
                    color: aqua;
                    margin-top: 0px;
                }
            }
        }
    }
    .footer-bottom{
        background: #000;
        width: 100vw;
        padding: 20px;
        padding-bottom: 40px;
        text-align: center;

        p{
            float: left;
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;

            a{
                color: #b01724;
                font-size: 16px;
                text-decoration: none;
                transition: color 1.4s;
              }
              a:hover{
                  color: aquamarine;
                  
              }
         }
         span{
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
        }
        .footer-menu{
            float: right;
            
            ul{
                display: flex;

                li{
                    padding-right: 10px;
                    display: block;

                    a{
                        color: #b01724;
                        text-decoration: none;
                        transition: color .8s;
                      }
                      a:hover{
                        color: #27bcda;
                      }
                    }
              }
          }
    }
}
@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }


