
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Heebo:wght@600&family=Poppins&family=Redressed&family=Rubik:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
body{
    font-family: 'Heebo', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;
    .sliding-text{
        font-family: 'Redressed', cursive;
        color: #b01724;
    }
    
    ul{
        display: flex;
        list-style: none;
        align-items: center;
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        margin-left: 5rem;
    }
}
h2{
    font-size: 5rem;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    color: maroon;
    font-size: 1.5rem;
    transform: translate(-50%,-50%)scale(5);
}
.home{
    height: 100vh;
}
.first-page{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50%;
        
    }
}
.firstImg {
    margin-left: -200px;
  }
.second-page{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50%;
    }
}
.square{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    position: absolute;
    top: 70%;
    left: 70%;
}
.contact-page{
    background: black;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .row{
        display: flex;
        .details-section{
            margin-right: 50px;
        }
        .contact-title{
            align-content: center;
            color: #b01724;
            font-size: 38px;
            margin: 0px 0px 50px 0px;
        }
        .form-section{
            margin-left: 50px;
            form{
                display: flex;
                flex-direction: column;
                .form-control{
                    margin: 10px;
                    padding: 10px;
                    width: 500px;
                    background: black;
                    border: 2px solid #b01724;
                    border-radius: 4px;
                }
                 :nth-child(4){
                    background: #b01724;
                    color: white;
                    border-radius: 10px;
                }
            }
        }
        
    }
}