*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;
    ul{
        display: flex;
        list-style: none;
        align-items: center;
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        margin-left: 5rem;
    }
}
h2{
    font-size: 5rem;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    color: maroon;
    font-size: 1.5rem;
    transform: translate(-50%,-50%)scale(5);
}
.home{
    height: 100vh;
}
.first-page{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50%;
    }
}
.square{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 70%;
    left: 70%;
}