@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Playfair+Display&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 5rem;
  background: white;
}

nav .sliding-text {
  font-family: 'Redressed', cursive;
  color: #b01724;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  margin-left: 5rem;
}

nav a:hover {
  color: #b01724;
}

nav .burger {
  margin-top: 10px;
  display: none;
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #b01724;
  margin: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2 {
  font-size: 4rem;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  color: maroon;
  font-size: 1rem;
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(5);
          transform: translate(-50%, -50%) scale(5);
}

.home {
  height: 100vh;
  z-index: 1;
}

.first-page {
  height: 100vh;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first-page img {
  height: 50%;
  border-radius: 2rem;
}

.firstImg {
  margin-left: -200px;
}

.second-page {
  height: 100vh;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.second-page img {
  height: 50%;
  border-radius: 2rem;
}

.square {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  position: absolute;
  top: 70%;
  left: 55%;
}

.square3, .square4, .square5, .square6, .square7, .square8, .square9, .square10 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  -webkit-box-shadow: 1px 2px gray;
          box-shadow: 1px 2px gray;
  position: absolute;
  top: 50%;
  left: 25%;
}

.square4 {
  top: 24%;
  left: 10%;
  height: 5rem;
  width: 5rem;
}

.square5 {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  top: 58%;
  left: 80%;
  height: 7rem;
  width: 7rem;
}

.square6 {
  background-color: #c9c4fa;
  background-image: linear-gradient(315deg, #fad0c4 0%, #a8a7f1 74%);
  top: 80%;
  left: 30%;
  height: 2rem;
  width: 2rem;
}

.square7 {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  height: 8rem;
  width: 8rem;
  left: 10%;
  top: 50%;
}

.square8 {
  background-color: #6464a3;
  background-image: linear-gradient(315deg, #5c5c6e 0%, #58bdf8 74%);
  height: 7rem;
  width: 7rem;
  left: 40%;
  top: 60%;
}

.square9 {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  height: 3rem;
  width: 3rem;
  left: 40%;
  top: 20%;
}

.square10 {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  height: 4rem;
  width: 4rem;
  left: 70%;
  top: 20%;
}

.contact-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-page .row .details-section {
  margin-right: 50px;
}

.contact-page .row .contact-title {
  -ms-flex-line-pack: center;
      align-content: center;
  color: maroon;
  font-size: 38px;
  margin: 50px 0px 50px 0px;
}

.contact-page .row .form-section {
  margin-left: 50px;
}

.contact-page .row .form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page .row .form-section form .form-control {
  margin: 10px;
  padding: 10px;
  width: 500px;
  background: white;
  border: 2px solid #b01724;
  border-radius: 4px;
}

.contact-page .row .form-section form :nth-child(4) {
  background: #b01724;
  color: white;
  border-radius: 10px;
}

.third-page {
  background-image: url("./images/bg3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.third-page .square2 {
  width: 20rem;
  height: 20rem;
  -webkit-box-shadow: 0 4px 8px -2px;
          box-shadow: 0 4px 8px -2px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -10px;
  opacity: 1;
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
}

.third-page h1 {
  margin-left: -1000px;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 50px;
  color: #b01724;
  -webkit-transition: margin-left 2s;
  transition: margin-left 2s;
  z-index: 1;
}

.third-page h1:hover {
  margin-left: -900px;
}

.third-page .card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.third-page .card-section .card {
  overflow: hidden;
  border: 1px solid white;
  height: 250px;
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  color: #ffffff;
  -webkit-box-shadow: 0 8px 8px -4px;
          box-shadow: 0 8px 8px -4px;
  -webkit-transition: width 1.8s;
  transition: width 1.8s;
  z-index: 1;
}

.third-page .card-section .card img {
  border-radius: 8px;
  margin-bottom: 10px;
  background-size: cover;
  height: 150px;
  width: 200px;
}

.third-page .card-section :hover {
  width: 280px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

footer .footer-content p {
  max-width: 500px;
  margin: 2px 1px;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  font-family: 'Redressed', cursive;
}

footer .footer-content .socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5rem 0 .5rem 0;
}

footer .footer-content .socials li {
  margin: 0px 10px;
  padding: .1rem 0;
}

footer .footer-content .socials li a {
  text-decoration: none;
  color: #b01724;
  border-radius: 30%;
}

footer .footer-content .socials li a i {
  margin-top: 10px;
  font-size: 1.5rem;
  width: 20px;
  -webkit-transition: color .8s ease;
  transition: color .8s ease;
}

footer .footer-content .socials li a:hover i {
  color: aqua;
  margin-top: 0px;
}

footer .footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

footer .footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

footer .footer-bottom p a {
  color: #b01724;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: color 1.4s;
  transition: color 1.4s;
}

footer .footer-bottom p a:hover {
  color: aquamarine;
}

footer .footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

footer .footer-bottom .footer-menu {
  float: right;
}

footer .footer-bottom .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom .footer-menu ul li {
  padding-right: 10px;
  display: block;
}

footer .footer-bottom .footer-menu ul li a {
  color: #b01724;
  text-decoration: none;
  -webkit-transition: color .8s;
  transition: color .8s;
}

footer .footer-bottom .footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 952px) {
  nav ul a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1rem;
  }
  .first-page img {
    height: 40%;
  }
  .first-page h2 {
    font-size: 3rem;
  }
  .first-page p {
    font-size: .8rem;
  }
  .second-page img {
    height: 40%;
  }
  .second-page h2 {
    font-size: 3rem;
  }
  .second-page p {
    font-size: .8rem;
  }
  .second-page .third-page h1 {
    position: absolute;
    font-size: 50px;
    color: #b01724;
    -webkit-transition: margin-left 2s;
    transition: margin-left 2s;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .third-page {
    height: auto;
  }
  .third-page h1 {
    margin-left: -50px;
    font-size: 40px;
    -webkit-transition: margin-left 4s;
    transition: margin-left 4s;
    margin-top: 1rem;
    overflow: hidden;
  }
  .third-page h1:hover {
    margin-left: 10px;
  }
  .third-page .square2 {
    width: 15rem;
    height: 15rem;
  }
  .third-page .card-section {
    margin-bottom: 30px;
  }
  .third-page .card-section .card {
    margin: 20px 15px;
  }
  .third-page .card-section .card:hover {
    width: 200px;
    color: bisque;
  }
  .third-page .contact-page .contact-title {
    font-size: 30px;
    margin: 0px 0px 50px 10px;
  }
  .third-page .contact-page .form-section {
    margin-left: 10px;
  }
  .third-page .contact-page .form-section .form-control {
    width: 400px;
  }
  nav .nav-links {
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 86.6vh;
    top: 13.4vh;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border: 3px solid white;
    -webkit-box-shadow: 1px 2px 3px wheat;
            box-shadow: 1px 2px 3px wheat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .nav-links li {
    margin: 50px 180px 10px 70px;
    opacity: 0;
  }
  nav .burger {
    display: block;
  }
  nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .cross .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  .cross .line2 {
    opacity: 0;
  }
  .cross .line3 {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
}

@media (max-width: 500px) {
  nav {
    padding: 0rem 5rem;
  }
  nav .sliding-text {
    margin-left: -30px;
    margin-top: 20px;
  }
  nav .burger {
    margin-right: -50px;
    margin-top: 25px;
  }
  nav .nav-links {
    width: 50%;
    height: 80vh;
    top: 15vh;
  }
  nav ul a {
    font-size: 1rem;
    color: white;
  }
  .logo {
    font-size: 0.4rem;
  }
  .first-page h2, .second-page h2 {
    font-size: 2.1rem;
  }
  .first-page p, .second-page p {
    font-size: 0.55rem;
  }
  .square {
    height: 2rem;
    width: 2rem;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  }
  .square5, .square7 {
    z-index: -1;
  }
  .first-page img {
    height: 35%;
    width: 80vw;
    border-radius: 1rem;
    margin-left: 4px;
  }
  .second-page img {
    height: 35%;
    width: 90vw;
    border-radius: 1rem;
    margin-left: 4px;
  }
  .third-page .card-section .card {
    margin: 20px 80px;
    height: 350px;
    width: 300px;
  }
  .third-page .card-section .card img {
    height: 75%;
  }
  .third-page h1 {
    margin: 50px 0px 50px 10px;
  }
  .contact-page {
    height: 100vh;
  }
  .contact-page .row {
    margin-top: -100px;
    margin-bottom: -50px;
  }
  .contact-page .row .details-section {
    top: 50%;
    margin: 20px 0px 75px 70px;
  }
  .contact-page .row .details-section .contact-title {
    font-family: 'Poppins', sans-serif;
  }
  .contact-page .row .form-section {
    margin-left: 15px;
  }
  .contact-page .row .form-section form .form-control {
    width: 330px;
  }
  .footer-menu {
    display: none;
  }
  footer .footer-bottom {
    height: 50px;
    padding: 10px 0px;
  }
  footer .footer-bottom p {
    margin-left: 85px;
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */